{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "parser": "xml",
        "xmlSelfClosingSpace": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
